USE [SWP391_G2_Project]
GO
/****** Object:  Table [dbo].[BanComment]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanComment](
	[userID] [int] NOT NULL,
	[problem] [int] NOT NULL,
	[detail] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanCommentType]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanCommentType](
	[banId] [int] NOT NULL,
	[banType] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_BanCommentType] PRIMARY KEY CLUSTERED 
(
	[banId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[bookID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[authorName] [nvarchar](max) NULL,
	[title] [nvarchar](50) NOT NULL,
	[views] [int] NULL,
	[detail] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
	[publishDate] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[describe] [nvarchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_in_book]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_in_book](
	[id] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[CateID] [int] NOT NULL,
 CONSTRAINT [PK_Category_in_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[ChapterID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[NumberChapter] [int] NULL,
	[ChapterName] [nvarchar](50) NULL,
	[Contents_1] [nvarchar](max) NULL,
	[Contents_2] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[cmtID] [int] IDENTITY(1,1) NOT NULL,
	[bookID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[cmt] [nvarchar](500) NOT NULL,
	[publishDate] [date] NOT NULL,
	[like] [int] NULL,
	[reply] [int] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[cmtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedUser]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedUser](
	[userID] [int] NOT NULL,
	[fromDate] [datetime] NOT NULL,
	[toDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[problem] [int] NOT NULL,
	[Desciption] [nvarchar](max) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayChapter]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayChapter](
	[payId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[chapterId] [int] NOT NULL,
	[payDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PayChapter] PRIMARY KEY CLUSTERED 
(
	[payId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[rateID] [int] IDENTITY(1,1) NOT NULL,
	[bookID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[point] [int] NOT NULL,
 CONSTRAINT [PK_Rate_1] PRIMARY KEY CLUSTERED 
(
	[rateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reading]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reading](
	[userID] [int] NOT NULL,
	[bookid] [int] NOT NULL,
	[chapterid] [int] NOT NULL,
	[readingDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[bookId] [int] NOT NULL,
	[problem] [int] NOT NULL,
	[chapter] [nvarchar](50) NULL,
	[detail] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[reportId] [int] NOT NULL,
	[reportType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[reportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Response]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Response](
	[responseId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[detail] [nvarchar](max) NOT NULL,
	[responseTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Response] PRIMARY KEY CLUSTERED 
(
	[responseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleID] [int] NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedBook]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedBook](
	[userID] [int] NOT NULL,
	[bookID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] NOT NULL,
	[Tagname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag_in_book]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag_in_book](
	[id] [int] NOT NULL,
	[TagID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
 CONSTRAINT [PK_Tag_in_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[transaction] [int] NULL,
	[avatar] [nvarchar](max) NULL,
	[roleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VipTime]    Script Date: 11/03/2024 9:25:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VipTime](
	[userID] [int] NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BanCommentType] ([banId], [banType]) VALUES (1, N'Xúc phạm nhân phẩm')
INSERT [dbo].[BanCommentType] ([banId], [banType]) VALUES (2, N'Phân biệt vùng miền')
INSERT [dbo].[BanCommentType] ([banId], [banType]) VALUES (3, N'Lời nói thô tục, vi phạm thuần phong mỹ tục')
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([bookID], [userID], [authorName], [title], [views], [detail], [img], [publishDate], [status]) VALUES (3, 16, N'Nhĩ Căn', N'Nhất Niệm Vĩnh Hằng', 108, N'Nhất niệm thành biển cả, nhất niệm hóa nương dâu.
Nhất niệm trảm nghìn Ma, nhất niệm giết vạn Tiên.

Chỉ có niệm của ta... là Vĩnh hằng.', N'./images/nhatniemvinhhang.jpg', CAST(N'2024-01-01' AS Date), N'Full')
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
INSERT [dbo].[Category] ([CateID], [Name], [describe]) VALUES (0, N'Tiên Hiệp', NULL)
INSERT [dbo].[Category] ([CateID], [Name], [describe]) VALUES (1, N'Kiếm Hiệp', NULL)
INSERT [dbo].[Category] ([CateID], [Name], [describe]) VALUES (2, N'Xuyên Không', NULL)
GO
INSERT [dbo].[Category_in_book] ([id], [BookID], [CateID]) VALUES (0, 1, 0)
INSERT [dbo].[Category_in_book] ([id], [BookID], [CateID]) VALUES (1, 1, 1)
INSERT [dbo].[Category_in_book] ([id], [BookID], [CateID]) VALUES (2, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[Chapter] ON 

SET IDENTITY_INSERT [dbo].[Chapter] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([cmtID], [bookID], [userID], [cmt], [publishDate], [like], [reply]) VALUES (1, 1, 11, N'a', CAST(N'2024-03-11' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [userID], [problem], [Desciption]) VALUES (1, 3, 6, NULL)
INSERT [dbo].[Feedback] ([FeedbackId], [userID], [problem], [Desciption]) VALUES (2, 16, 7, NULL)
INSERT [dbo].[Feedback] ([FeedbackId], [userID], [problem], [Desciption]) VALUES (3, NULL, 8, N'su')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[PayChapter] ON 

INSERT [dbo].[PayChapter] ([payId], [userID], [chapterId], [payDate]) VALUES (3, 3, 0, CAST(N'2024-03-11T11:55:02.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[PayChapter] OFF
GO
SET IDENTITY_INSERT [dbo].[Rate] ON 

INSERT [dbo].[Rate] ([rateID], [bookID], [userID], [point]) VALUES (5, 1, 3, 3)
INSERT [dbo].[Rate] ([rateID], [bookID], [userID], [point]) VALUES (7, 1, 16, 5)
SET IDENTITY_INSERT [dbo].[Rate] OFF
GO
INSERT [dbo].[Reading] ([userID], [bookid], [chapterid], [readingDate]) VALUES (17, 1, 0, CAST(N'2024-03-11T00:00:00.000' AS DateTime))
INSERT [dbo].[Reading] ([userID], [bookid], [chapterid], [readingDate]) VALUES (11, 1, 0, CAST(N'2024-03-11T14:13:40.980' AS DateTime))
INSERT [dbo].[Reading] ([userID], [bookid], [chapterid], [readingDate]) VALUES (3, 1, 2, CAST(N'2024-03-11T15:14:41.430' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportId], [userID], [bookId], [problem], [chapter], [detail]) VALUES (1, 3, 1, 1, N'3', NULL)
INSERT [dbo].[Report] ([ReportId], [userID], [bookId], [problem], [chapter], [detail]) VALUES (3, 3, 3, 2, N'2', NULL)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
INSERT [dbo].[ReportType] ([reportId], [reportType]) VALUES (1, N'Ko đọc được nội dung')
INSERT [dbo].[ReportType] ([reportId], [reportType]) VALUES (2, N'Sai chính tả')
INSERT [dbo].[ReportType] ([reportId], [reportType]) VALUES (3, N'Thiếu thông tin')
GO
SET IDENTITY_INSERT [dbo].[Response] ON 

INSERT [dbo].[Response] ([responseId], [userID], [title], [detail], [responseTime]) VALUES (1, 16, N'Yêu cầu sửa lỗi', N'Chương 16 sai chính tả', CAST(N'2024-03-11T18:18:26.577' AS DateTime))
INSERT [dbo].[Response] ([responseId], [userID], [title], [detail], [responseTime]) VALUES (7, 3, N'Yêu cầu sửa lỗi', N'Admin đã thông báo đến người đăng truyện', CAST(N'2024-03-11T18:29:29.683' AS DateTime))
INSERT [dbo].[Response] ([responseId], [userID], [title], [detail], [responseTime]) VALUES (8, 3, N'asd', N'123', CAST(N'2024-03-11T18:30:29.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[Response] OFF
GO
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (0, N'Admin')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (1, N'User')
INSERT [dbo].[Role] ([roleID], [roleName]) VALUES (2, N'VIP')
GO
INSERT [dbo].[SavedBook] ([userID], [bookID]) VALUES (11, 2)
INSERT [dbo].[SavedBook] ([userID], [bookID]) VALUES (3, 1)
GO
INSERT [dbo].[Tag] ([TagID], [Tagname]) VALUES (1, N'Hài Hước')
INSERT [dbo].[Tag] ([TagID], [Tagname]) VALUES (2, N'Drama')
INSERT [dbo].[Tag] ([TagID], [Tagname]) VALUES (3, N'Đam mỹ')
GO
INSERT [dbo].[Tag_in_book] ([id], [TagID], [BookID]) VALUES (1, 1, 1)
INSERT [dbo].[Tag_in_book] ([id], [TagID], [BookID]) VALUES (2, 2, 1)
INSERT [dbo].[Tag_in_book] ([id], [TagID], [BookID]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [userName], [password], [address], [phone], [email], [transaction], [avatar], [roleID]) VALUES (3, N'User1', N'123', NULL, NULL, N'nqs190503@gmail.com', 180000, NULL, 1)
INSERT [dbo].[User] ([userID], [userName], [password], [address], [phone], [email], [transaction], [avatar], [roleID]) VALUES (11, N'su', N'123', NULL, NULL, NULL, 0, NULL, 1)
INSERT [dbo].[User] ([userID], [userName], [password], [address], [phone], [email], [transaction], [avatar], [roleID]) VALUES (16, N'mra', N'123456', NULL, NULL, NULL, 2000, NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[BanComment]  WITH CHECK ADD  CONSTRAINT [FK_BanComment_BanCommentType] FOREIGN KEY([problem])
REFERENCES [dbo].[BanCommentType] ([banId])
GO
ALTER TABLE [dbo].[BanComment] CHECK CONSTRAINT [FK_BanComment_BanCommentType]
GO
ALTER TABLE [dbo].[BanComment]  WITH CHECK ADD  CONSTRAINT [FK_BanComment_Response] FOREIGN KEY([userID])
REFERENCES [dbo].[Response] ([responseId])
GO
ALTER TABLE [dbo].[BanComment] CHECK CONSTRAINT [FK_BanComment_Response]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_User]
GO
ALTER TABLE [dbo].[Category_in_book]  WITH CHECK ADD  CONSTRAINT [FK_Category_in_book_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Category_in_book] CHECK CONSTRAINT [FK_Category_in_book_Book]
GO
ALTER TABLE [dbo].[Category_in_book]  WITH CHECK ADD  CONSTRAINT [FK_Category_in_book_Category] FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
GO
ALTER TABLE [dbo].[Category_in_book] CHECK CONSTRAINT [FK_Category_in_book_Category]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Book]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Book] FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Book]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User1] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User1]
GO
ALTER TABLE [dbo].[DeletedUser]  WITH CHECK ADD  CONSTRAINT [FK_DeletedUser_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[DeletedUser] CHECK CONSTRAINT [FK_DeletedUser_User]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_ReportType] FOREIGN KEY([problem])
REFERENCES [dbo].[ReportType] ([reportId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_ReportType]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[PayChapter]  WITH CHECK ADD  CONSTRAINT [FK_PayChapter_Chapter] FOREIGN KEY([chapterId])
REFERENCES [dbo].[Chapter] ([ChapterID])
GO
ALTER TABLE [dbo].[PayChapter] CHECK CONSTRAINT [FK_PayChapter_Chapter]
GO
ALTER TABLE [dbo].[PayChapter]  WITH CHECK ADD  CONSTRAINT [FK_PayChapter_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[PayChapter] CHECK CONSTRAINT [FK_PayChapter_User]
GO
ALTER TABLE [dbo].[Reading]  WITH CHECK ADD  CONSTRAINT [FK_Reading_Book] FOREIGN KEY([bookid])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Reading] CHECK CONSTRAINT [FK_Reading_Book]
GO
ALTER TABLE [dbo].[Reading]  WITH CHECK ADD  CONSTRAINT [FK_Reading_Chapter] FOREIGN KEY([chapterid])
REFERENCES [dbo].[Chapter] ([ChapterID])
GO
ALTER TABLE [dbo].[Reading] CHECK CONSTRAINT [FK_Reading_Chapter]
GO
ALTER TABLE [dbo].[Reading]  WITH CHECK ADD  CONSTRAINT [FK_Reading_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Reading] CHECK CONSTRAINT [FK_Reading_User]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Book] FOREIGN KEY([bookId])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Book]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ReportType] FOREIGN KEY([problem])
REFERENCES [dbo].[ReportType] ([reportId])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ReportType]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD  CONSTRAINT [FK_Response_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_User]
GO
ALTER TABLE [dbo].[SavedBook]  WITH CHECK ADD  CONSTRAINT [FK_SavedBook_Book] FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[SavedBook] CHECK CONSTRAINT [FK_SavedBook_Book]
GO
ALTER TABLE [dbo].[SavedBook]  WITH CHECK ADD  CONSTRAINT [FK_SavedBook_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[SavedBook] CHECK CONSTRAINT [FK_SavedBook_User]
GO
ALTER TABLE [dbo].[Tag_in_book]  WITH CHECK ADD  CONSTRAINT [FK_Tag_in_book_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Tag_in_book] CHECK CONSTRAINT [FK_Tag_in_book_Book]
GO
ALTER TABLE [dbo].[Tag_in_book]  WITH CHECK ADD  CONSTRAINT [FK_Tag_in_book_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
ALTER TABLE [dbo].[Tag_in_book] CHECK CONSTRAINT [FK_Tag_in_book_Tag]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleID])
REFERENCES [dbo].[Role] ([roleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[VipTime]  WITH CHECK ADD  CONSTRAINT [FK_VipTime_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[VipTime] CHECK CONSTRAINT [FK_VipTime_User]
GO
